---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="It's about them"
	pubDate={new Date('Feb 15 2026')}
	heroImage="/NTI_ROCKY3.jpg"
>
	
	<p>
	This part is still under construction. If you're visiting this page and you don't know me, please email me at eliasbcowie@gmail.com and I will be so so excited. Thanks!
	</p>

	<p><a href="/EBC_TechRes.pdf" download>Download my resume (PDF)</a></p>

	<h3>Awards & Recognition</h3>
	<ul>
		<li>Lillian Hellman Prize in Theatre and Dance — Wheaton College, 2026</li>
		<li>Theatre and Dance Award for Technical and Design Excellence — Wheaton College, 2025</li>
		<li>2nd Place, Scenic Design — ACTF Region 1 Conference, for <em>Everybody</em> by Branden Jacobs-Jenkins, 2025</li>
<li>Eliza Wheaton Honors — Wheaton College</li>
		<li>Cum Laude — Wheaton College, 2026</li>
	</ul>
</Layout>
