---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<Header />
		<main>
			<h1>Eli Cowie!</h1>
			<p>
				yes it's me, I've figured out how websites work (kind of). This site will showcase my work in scenic and lighting design, the rare monologue or song, and what I've been up to.
			</p>

		</main>
		<Footer />
	</body>
</html>
